body main div img {
    height: 150px;
    width: 150px;


}
main section {
    width: 400px;
    height: 300px;
    position: absolute;
    right: 30%;
    top: 30%;
}
main div {
    text-align: center;
}
main button {
    
 
    position: absolute;
    bottom: 85%;
    left: 15%;
}